.page2_class {
    display: flex;
    justify-content: center;
}

.form_create {
    width: 300px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_input {
    margin-right: 0px;
}

.input {
    margin-bottom: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.submit_class {
    width: 300px;
    height: 40px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #0cde0c;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}