.header {
    width: 100%;
    height: 80px;
    background-color: #313131;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

logo {
    font-size: 24px;
    color: #4ed757;
    font-weight: 500;
    margin-right: 50px;
}

.zoos_button {
    width: 190px;
    height: 80px;
    margin-right: 0px;
    background-color: #3986b9;
    border: none;
    font-size: 20px;
}

.create_zoo_button {
    width: 190px;
    height: 80px;
    margin-right: 0px;
    background-color: #ccf68a;
    border: none;
    font-size: 20px;
}

.search_input {
    width: 290px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-right: 20px;
}

.header_green_button {
    width: 115px;
    height: 35px;
    margin-right: 10px;
    background-color: #21c33c;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.header_purple_button {
    width: 115px;
    height: 35px;
    margin-right: 10px;
    background-color: #ad1aba;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.edit_button {
    width: 75px;
    height: 25px;
    background-color: #76d39b;
    text-align: center;
    border: none;
}

.delete_button {
    width: 75px;
    height: 25px;
    background-color: #d43737;
    text-align: center;
    border: none;
}