.mainStyle {
    background-color: #702d86;
    color: #fff;
}

.sidebar {
  background-color: #C683D7;
    color: #fff;
}

.active-link {
  background-color: #731136; /* Add your desired background color for active link */
  color: #fff; /* Add your desired text color for active link */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures the body takes at least the full height of the viewport */
}

.footer-container {
  margin-top: auto; /* This pushes the container to the bottom of the flex container */
}

  
  